body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.btn-modern {
    padding: 20px 30px;
    font-size: 18pt;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.4s ease;
    border-bottom: 2px solid rgba(121, 121, 121, 0.418);
}

.btn-modern:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 5px rgba(10, 19, 15, 0.911);
    background-color: blueviolet;
    color: white;
}